<footer>

    <h1> -------------- 👣 Inicio del Footer 👣(borrar después)--------------- </h1>
      
     
    <section id="content">
      <div class="container_12">
        <div class="wrapper">
          <article class="grid_4">
            <div class="indent-right">
              <div class="maxheight img-indent-bot">
                <h3>Contacto</h3>
                <p>Guide.com is one o free website templates created by TemplateMonster.com. This website template is optimized for 1280X1024 screen resolution. It is also XHTML &amp; CSS valid.</p>
                This Guide.com Template goes with two pack ages – with PSD source files and without them. PSD source files are available for free for the registered members of TemplateMonster.com. The basic package (without PSD source) is available for anyone without registration. </div>
              <a class="button" href="#">More</a> </div>
          </article>
          <article class="grid_4">
            <div class="indent">
              <div class="maxheight img-indent-bot">
                <h3>Últimas Noticias</h3>
                <time class="tdate-1" datetime="2012-02-06"><a class="link" href="#">Posted: 6.02.2012</a></time>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihimperdiet doming quod mazim placerat facer possim assum orem ipsum dolor sit amet consectetuer.</p>
                <time class="tdate-1" datetime="2012-02-04"><a class="link" href="#">Posted: 4.02.2012</a></time>
                Adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. </div>
              <a class="button" href="#">More</a> </div>
          </article>
          <article class="grid_4">
            <div class="indent-left">
              <div class="maxheight img-indent-bot">
                <h3 class="p1">Categorías</h3>
                <ul class="list-1">
                  <li><a href="#">Información General</a></li>
                  <li><a href="#">Biodiversidad</a></li>
                  <li><a href="#">Reciclaje</a></li>
                  <li><a href="#">Cambio Climático</a></li>
                  <li><a href="#">Vida Verde</a></li>
                  <li><a href="#">Energías Renovables</a></li>
                  <li><a href="#">Huerta Familiar</a></li>
                  <li><a href="#">Permacultura</a></li>
                  <li><a href="#">Educación Ambiental</a></li>
                </ul>
              </div>
              <a class="button" href="#">More</a> </div>
          </article>
        </div>
      </div>
    </section>
    
    <div class="col-md-3">
      <h4>Redes Sociales</h4>
      <ul class="list-unstyled">
        <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
        <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
        <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
      </ul>
    
      <div class="inner">
        <div class="footer-bg"> VidaVerde.com &copy; 2012 <span>Website Template by <a target="_blank" href="#" class="link">Comisión 2</a></span> </div>
      </div>
    </footer>