{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

<title>{% block title %} Registro de usuario {% endblock title %}</title>

{% block contenido %}
  <center>
    <form method="POST" style="margin: 200px;" id="loginForm">
      <h1 class="h1">Inicio de sesión</h1>
      <br>
      <div class="messages">
        {% for message in messages %}
          <table{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</table>
        {% endfor %}
      </div>
      <br>
      {% csrf_token %}
      <div class="container">
        {{ form|crispy }}
        <br>
        <a style="color: black;" href="{% url 'apps.usuario:registrar' %}">¿Todavía no está registrado? Regístrate.</a>
        <br><br>
        <button type="submit" class="btn btn-sucess btn-lg px-3">Iniciar sesión</button>
      </div>  
    </form>
  </center>

  <script>
    document.getElementById("loginForm").addEventListener("submit", function() {
      alert("Inicio de sesión exitoso.");
    });
  </script>
{% endblock contenido %}
